body {
    background-color: #05323d;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

a:visited,
a:link {
    color: black;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: repeat(5, auto);
    justify-items: center;
    align-items: center;
}

.main-head {
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    grid-column: 1 / -1;
    font-size: 1.3rem;
}

.comic {
    text-align: center;
    grid-column: 1 / -1;
}

.comic>h1 {
    color: #f8f8f8;
    font-family: 'Indie Flower', cursive;
}

.comic>figure>img {
    max-width: 100%;
    height: auto;
}

.stats {
    background-color: #f8f8f8;
    grid-column: 4 / 10;
    justify-self: stretch;
}

.stats>ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

.stats>ul>li {
    padding-left: 0px;
    list-style-type: none
}

.main-nav {
    grid-column: 4 / 10;
    justify-self: stretch;
}

.main-nav>ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    list-style-type: none
}

a.button {
    display: inline-block;
    padding: 0.5em 1em;
    border: 0.16em solid #FFFFFF;
    min-width: 10%;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}

.transcript {
    background-color: #f8f8f8;
    grid-column: 1 / -1;
    justify-self: stretch;
    margin-bottom: 0px;
}

.transcript>div {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Zen Old Mincho', serif;
}

.transcript>div>h2 {
    text-align: center;
}

#highlighted {
    color: rgb(80, 16, 0);
}

#centered {
    text-align: center;
}

@media all and (max-width:500px) {
    .stats>ul {
        display: block;
        align-items: center;
        text-align: center;
        margin: 5px;
    }
}

@media all and (max-width:1024px) {
    .main-nav>ul {
        display: block;
        text-align: center;
    }

    .main-nav>ul>li>a {
        margin: 5px;
    }
}

@media all and (min-width:1440px) {
    body {
        max-width: 1440px;
    }
}